body{
    margin:0px;
}
#animation_container{
    background-color: rgb(9, 77, 127);
    width: 686px;
    height: 686px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7));
}
#canvas{
    position: absolute;
    display: block; 
    background-color:rgba(9, 77, 127, 1.00);
    width: 686px;
    height: 686px;
}
#dom_overlay_container{
    pointer-events: none;
    overflow: hidden;
    width: 686px;
    height: 686px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}